pipeline/Incremental_ingestion_loop.json
{
	"name": "Incremental_ingestion_loop",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "AzureSQLtoLake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "current",
									"dependencyConditions": [
										"Completed"
									]
								},
								{
									"activity": "last_cdc",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().schema}.@{item().table}\nwhere @{item().cdc}>'@{if(empty(item().from_date)\n    ,activity('last_cdc').output.value[0].cdc, item().from_date)}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Parquetdynamic",
									"type": "DatasetReference",
									"parameters": {
										"Container": "containerbronze",
										"Folder": {
											"value": "@item().table",
											"type": "Expression"
										},
										"File": {
											"value": "@concat(item().table,'_',variables('current'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "last_cdc",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "Json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "containerbronze",
										"folder": {
											"value": "@{item().table}_cdc",
											"type": "Expression"
										},
										"file": "cdc.json"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "current",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Current",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "IfIncrementaldata",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "AzureSQLtoLake",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('AzureSQLtoLake').output.dataread,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Deleteemptyfile",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Parquetdynamic",
												"type": "DatasetReference",
												"parameters": {
													"Container": "containerbronze",
													"Folder": {
														"value": "@item().table",
														"type": "Expression"
													},
													"File": {
														"value": "@concat(item().table,'_',variables('Current'))",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "max_cdc",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "AzureSql",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "select max(item().cdc}) as cdc from @{item().schema}.@{item().table}",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Update_Last_Cdc",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "max_cdc",
												"dependencyConditions": [
													"Completed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "cdc",
														"value": {
															"value": "@activity('max_cdc').output.resultsets[0].rows[0].cdc",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "Json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": "containerbronze",
													"folder": {
														"value": "@{item().table}_cdc",
														"type": "Expression"
													},
													"file": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": "containerbronze",
													"folder": "CDC",
													"file": "cdc.json"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"loop input": {
				"type": "array",
				"defaultValue": "[   {     \"schema\" : \"dbo\",     \"table:  : \"DimUser\",     \"cdc_col : \"updated_at\",     \"from_date\" : \"\"   },   {     \"schema\" : \"dbo\",     \"table:  : \"DimTrack\",     \"cdc_col : \"updated_at\",     \"from_date\" : \"\"   },   {     \"schema\" : \"dbo\",     \"table:  : \"DimArtist\",     \"cdc_col : \"updated_at\",     \"from_date\" : \"\"   },   {     \"schema\" : \"dbo\",     \"table:  : \"DimDate\",     \"cdc_col : \"updated_at\",     \"from_date\" : \"\"   }, {     \"schema\" : \"dbo\",     \"table:  : \"FactStream\",     \"cdc_col : \"updated_at\",     \"from_date\" : \"\"   }  ]"
			}
		},
		"variables": {
			"Current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}